.about-me {
position: absolute;
bottom: 1rem;
margin-left: 47px;
}

#h1-about-me {
  font-size: 70px;
  display: flex;
  justify-content: center;
  margin-left: 40rem;
  margin-bottom: 1rem;
}

#about-me-btags {
  padding-bottom: 25px;
}

#h1-exp {
    background: -webkit-linear-gradient(#1e08e2, #470cb4);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}